.m-post-header {
  margin: 0 0 32px 0;
}
.m-post-profile {
  display: flex;
  padding: 4px 0;
}

.m-post-profile-title {
  margin-right: 8px;
}
.m-post-profile-item {
  margin-right: 16px;
}

.m-post-title {
  margin: 8px 0;
}
