.m-panel-list {
  margin: 0;
  padding: 0;
  li {
    line-height: 1.5;
    margin: 4px 0;
    list-style: none;
    overflow: hidden; //超出的文本隐藏
    text-overflow: ellipsis; //溢出用省略号显示
    white-space: nowrap; //溢出不换行
  }
}

.m-panel-list-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -8px;

  li {
    margin: 4px 8px;
    max-width: 112px;
  }
}
.m-panel-list-column {
  display: flex;
  flex-direction: column;
}
