.m-header {
  border-bottom: solid 1px #ddd;
  margin-bottom: 32px;
}

.m-navbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0 0 -1px 0;

  a {
    font-size: 14px;
    display: block;
    padding: 8px 16px;
    border: 1px solid transparent;
    svg {
      margin-right: 8px;
    }
    &:hover {
      border-bottom: solid 1px #000;
    }
    &.active {
      border: solid 1px #ddd;
      border-bottom: 1px solid transparent;
      background-color: #fff;
      a {
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .m-header {
    text-align: center;
  }
  .m-navbar {
    justify-content: center;
  }
}
