/* body * {
	font-family:"Consolas","Microsoft Yahei", Arial, sans-serif;
}

body {
	background: white;
	margin: 0;
	padding: 0;
} */

.date_container {
	width: 320px;
	margin: 0 auto 50px;
}

.date_container>.title {
	color: #bbb;
	font-weight: bold;
	margin-bottom: 10px;
	background: #555;
	padding: 5px 15px;
}

.date_container .adlink {
	text-align: center;
	font-size: 11pt;
}

.date_container .adlink a {
	text-decoration: none;
	display:block;
	color: #666;
	font-weight: bold;
	margin-bottom: 10px;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10pt;
	margin-top: 10pt;
}

.date_container .date{
	font-size:17pt;
	font-weight: bold;
	line-height: 30pt;
	text-align: center;
}

.date_container .split,.date_container .clear {
	clear: both;
	height: 1px;
	overflow-y: hidden;
}

.date_container .good, .date_container .bad {
	clear: both;
	position: relative;
}

.date_container .bad {
	/*top: -1px;*/
}

.date_container .good .title,.date_container .bad .title {
	float: left;
	width: 100px;
	font-weight: bold;
	text-align: center;
	font-size: 30pt;
	position:absolute;
	top:0;
	bottom:0;
}

.date_container .good .title>table,.date_container .bad .title>table {
	position:absolute;
	width:100%;
	height:100%;
	border:none;
}

.date_container .good .title {
	background: #ffee44;
}

.date_container .someday .good .title {
	background: #aaaaaa;
}

.date_container .bad .title {
	background: #ff4444;
	color: #fff;
}

.date_container .someday .bad .title {
	background: #666666;
	color: #fff;
}

.date_container .good .content, .bad .content {
	margin-left: 115px;
	padding-right: 10px;
	padding-top: 1px;
	font-size:15pt;
}

.date_container .someday .good {
	background: #dddddd;
}

.date_container .someday .bad {
	background: #aaaaaa;
}

.date_container .good {
	background: #ffffaa;
}

.date_container .bad {
	background: #ffddd3;
}

.date_container .content ul {
	list-style: none;
	margin:10px 0 0;
	padding:0;
}

.date_container .content ul li {
	line-height:150%;
	font-size: 15pt;
	font-weight: bold;
	color: #444;
}

.date_container .content ul li div.description {
	font-size: 11pt;
	font-weight: normal;
	color: #777;
	line-height: 110%;
	margin-bottom: 10px;
}

.date_container .line-tip {
	font-size: 11pt;
	margin-top: 10px;
	margin-left: 10px;
}

.date_container .direction_value {
	color:#4a4;
	font-weight: bold;
}

.date_container .someday .direction_value {
	color:#888;
}

.date_container .goddes_value {
	color: #f87;
}

.date_container .someday .goddes_value {
	color: #777;
}


.date_container .comment {
	margin-top: 50px;
	font-size: 11pt;
	margin: 0 10px;
}

.date_container .comment ul {
	margin-left: 0;
	padding-left: 0;
  color: #999;
}