.m-post-list {
}

.m-post-item {
  display: flex;
  margin-bottom: 32px;
  padding: 8px;
}

.m-post-item-title {
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
  font-size: 18px;
}

.m-post-item-profile {
  margin-top: 14px;

  b,
  i {
    margin-right: 16px;
    font-size: 12px;
  }
}

.m-post-item-header {
  width: 80px;
  margin-right: 16px;
}

.m-post-item-day {
  text-align: center;
  font-size: 24px;
}
.m-post-item-year {
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}
